@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 81px 167px 113px 167px;
  background-image: url("./img/37c462a1c541b7a812220d9a0ad0c7ce.png");
  min-height: 100vh;
  max-width: 100%;
  background-color: #0058530d;
  background-repeat: no-repeat;
  background-position: cover;
}

.services h1 {
  width: 518px;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-bottom: 19px;
}

.container .services p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 495px;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 118px;
}

.container .services .box {
  display: flex;
  background-color: red;
  justify-content: space-between;
}

.container .services .box ul {
  display: flex;

  list-style-type: none;
}
.container .services .box ul li {
  padding: 43px 73px 22px 74px;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  background: #fff;
}

.container .services .box ul li img {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 19px;
}

.container .services .box ul li h2 {
  width: 76px;
  height: 60px;

  display: flex;
  justify-content: center;
  margin: auto;
  color: #000;
  font-family: Open Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container .services .box ul li p {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 103px;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .services .box ul li p:nth-child(3) {
  width: 126px;
}

.container .services .box ul li p:last-child {
  width: 129px;
}

.container-2 {
  padding: 72px 159px 53px 0;
  background: #fff;
}

.container-2 h3 {
  margin-bottom: 63px;
  display: flex;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-2 .popular-tours {
  display: flex;
  justify-content: space-between;
}

.container-2 .popular-tours .map {
  position: relative;
}
.container-2 .popular-tours .map img {
  opacity: 0.6;
  width: 50%;
  height: 772px;
  flex-shrink: 0;
}

.container-2 .popular-tours .map img:nth-child(2) {
  position: absolute;
  bottom: 370px;
  width: 12px;
  height: 12px;
}

.container-2 .popular-tours .tours ul {
  list-style-type: none;
}
.container-2 .popular-tours .tours ul li {
  width: 659px;
  height: 223px;
  display: flex;

  border-radius: 15px;
  background: #fff;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.08);
}

.container-2 .popular-tours .tours ul li img {
  width: 223px;
  height: 223px;
}

.container-2 .popular-tours .tours ul li p {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: auto;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container-2 .popular-tours .tours ul li span {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: auto;
  color: #000;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container-2 .popular-tours .tours ul li .icon {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: auto;
}
.container-2 .popular-tours .tours ul li .icon img {
  width: 33px;
  height: 33px;
}

.container-3 {
  padding: 59px 146px 105px 155px;
  background: #ecf1f0;
}

.container-3 h2 {
  margin-bottom: 68px;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-3 .category ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.container-3 .category ul li {
  padding: 16px 41px 17px 42px;
  width: 180px;
  height: 60px;
  border-radius: 10px;
  background: #00a651;
}

.container-3 .category ul li a {
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  margin: auto;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-3 .box ul {
  display: flex;
}

.container-3 .box ul li {
  width: 434px;
  height: 489px;
  flex-shrink: 0;
  border-radius: 0px 0px 15px 15px;
  background: #fff;
}

.container-3 .box ul li img {
  width: 434px;
  height: 176px;
}
